/Sharebert/node_modules/*
/Sharebert/.expo/*
/Sharebert/.vscode/settings.json
/Sharebert/assets/arrow2.png
/Sharebert/assets/arrow_w.png
/Sharebert/assets/google-services.json
/Sharebert/assets/icons/imgonline-com-ua-Transparent-background-6rIVqInVYrh29Z.png
/Sharebert/assets/icons/rounded_corners.png
/Sharebert/assets/icons/rounded_corners2.png
/Sharebert/assets/icons/rounded_corners3.png
/Sharebert/assets/loading2.gif
/Sharebert/assets/menu/explore2.png
/Sharebert/assets/menu/likes2.png
/Sharebert/assets/menu/rewards2.png
/Sharebert/assets/searchheader.png
/Sharebert/assets/sprites/bg_custom.png
/Sharebert/node_modules.rar
/Sharebert/remote/.expo/packager-info.json
/Sharebert/remote/.expo/settings.json
/Sharebert/snack-ByZxBwswM.jks
/Sharebert/.expo/settings.json
/Sharebert/package-lock.json
/Sharebert/package.json
